#!/bin/sh

{{ if eq .chezmoi.os "arch" -}}
sudo pacman -Syu \
    base-devel \
    cmake \
    unzip \
    ninja \
    tree-sitter \
    curl \
    wget \
    rust \
    go \
    ruby \
    python \
    neofetch \
    perl \
    starship \
    svn \
    exa \
    bat \
    jq \
    neovim \
    zsh

python -m ensurepip --upgrade
python -m pip install --user --upgrade pynvim

# zinit
sh -c "$(curl -fsSL https://git.io/zinit-install)"

chsh -s /bin/zsh

{{ end -}}
