#!/bin/sh

{{ if eq .chezmoi.os "arch" -}}
sudo pacman -Syu \
    base-devel \
    cmake \
    unzip \
    ninja \
    tree-sitter \
    curl \
    wget \
    rust \
    go
{{ end -}}

curl -LO https://raw.githubusercontent.com/GitCredentialManager/git-credential-manager/main/src/linux/Packaging.Linux/install-from-source.sh && \
    sh ./install-from-source.sh && \
    git-credential-manager-core configure
